/* * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */

/* .card {
    background: #F3F6FB;
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.40);
    width: fit-content;
    padding: 10px;
    margin: 10px 0px;
    margin-bottom: 60px;
    width: 400px;
    height: 90%;
} */
.card {
    background: #F3F6FB;
    /* box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.40); */
    width: -moz-fit-content;
    width: fit-content;
    padding: 20px 10px;
    margin: 10px 0px;
    margin-bottom: 60px;
    /* width: 308px; */
    width: 400px;
    height: 90%;
    border-radius: 20px;
    border: 1px solid #e2e3e6;
    transition: 0.3s ease-in-out all;
    cursor: pointer;
}
button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--left,
button.react-multiple-carousel__arrow.react-multiple-carousel__arrow--right{
    width: 55px;
    height: 55px;
}
/* li.react-multi-carousel-item.react-multi-carousel-item--active{
    height: 100%;
} */
.card:hover{
    transform: scale(1.02);
    /* box-shadow: 0 2px 16px rgba(54,127,211,.24); */
    box-shadow: 0px 0px 11px 0px rgba(0, 0, 0, 0.40)
}
.react-multi-carousel-item{
    display: flex;
    justify-content: center;
    align-items: center;
}

.Card-star-Icon {
    color: green;
}
.react-multiple-carousel__arrow--left {
    left: -7% !important;
}
.react-multiple-carousel__arrow--right{
    right: -7% !important;
}
.top {
    display: flex;
    column-gap: 20px;
}
.react-multi-carousel-list{
    position: unset !important;
}
.react-multi-carousel-dot-list{
    display: none !important;
}

.left img {
    width: 90.241px;
    height: 90.862px;
    border-radius: 50%;

}

.right-stars {
    margin-top: 26px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    font-size: 21px;
}
.right-stars .rating-head {
    color: #305F63;
    font-size: 20px;
    font-weight: 600;
    line-height: 130%;
    margin-right: 9px;
}


.right h2 {

    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.right p {
    color: #305F63;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

hr {
    width: 90%;
    margin: 0 auto;
    border: 1px solid #7A7A7A;
    width: 100%;

    /* margin-top: 9px; */
}

.hr-bott {
    margin-top: 5px;
}

.mid-contents {
    padding-top: 25px;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}

.mid-contents .content {
    display: flex;
    align-items: center;
    column-gap: 7.59px;
}

.mid-section .orders {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 10px 0;
}

.content p {
    color: #305F63;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.orders-values h3 {
    color: #305F63;
    font-size: 14.228px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

}

.orders-values p {
    color: #305F63;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-right: 5px;
}

.bottom-section {
    margin: 14px 5px;
    display: flex;
    flex-direction: column;
    row-gap: 17px;
}

.slider {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}

.slider label {
    color: #000;
    font-size: 10.544px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.slider .range {
    appearance: none;
    height: 5px;
    border-radius: 5px;
    background: #e0e0e0;
    outline: none;
}
.slider .range1::-webkit-slider-thumb{
    background: linear-gradient(90deg, rgb(18, 216, 63) 98%, rgb(224, 224, 224) 0%);
}
.slider .range2::-webkit-slider-thumb{
    background: linear-gradient(90deg, rgb(98, 245, 10) 95%, rgb(224, 224, 224) 0%);
}
.slider .range3::-webkit-slider-thumb{
    background: linear-gradient(90deg, rgb(166, 235, 7) 96%, rgb(224, 224, 224) 0%);
}

/* .slider .range::-moz-range-progress{
    -webkit-appearance: none;
    background: red;
  
} */






.range1::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #AAFEBB;
    cursor: pointer;
}

.range2::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #FF9290;
    cursor: pointer;
}

.range3::-webkit-slider-thumb {
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #EFDD7D;
    cursor: pointer;
}

.crousel {
    max-width: 1377px;
    margin: 0 auto;
    padding: 0px 20px;
    position: relative;
    width: 100%;

}

/* Team  */

.myteam {
    background: #F2F2F2;
    padding-bottom: 160px;
}

.myteam .topSection {
    padding: 60px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.topSection h2 {
    color: #21383E;
    font-size: 44.514px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
}

.topSection p {
    color: black;
    text-align: center;
    font-size: 22.295px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 770.237px;
}

.orders-values{
    display: flex;
    align-items: center;
    gap: 10px;
}


/* media query  */
@media (max-width:1250px){
    .react-multiple-carousel__arrow--left {
        left: -2% !important;
    }
    .react-multiple-carousel__arrow--right{
        right: -1% !important;
    }
}


@media (max-width:1199px){
    /* li.react-multi-carousel-item.react-multi-carousel-item--active{
        width: 440px !important;
    } */
    .card {
        margin-bottom: 60px;
        width: 380px;
        height: 500px;
    }
}
@media (max-width:1099px){
    /* li.react-multi-carousel-item.react-multi-carousel-item--active{
        width: 440px !important;
    } */
    .card {
        margin-bottom: 60px;
        width: 400px;
        height: 500px;
    }
}
@media (max-width:991px){
    .react-multiple-carousel__arrow--left {
        left: 0% !important;
    }
    .react-multiple-carousel__arrow--right{
        right: 0% !important;
    }
    .myteam {
        background: #F2F2F2;
        padding-bottom: 50px;
    }
}
@media (max-width:767px){
    .myteam {
        background: #F2F2F2;
        padding-bottom: 50px;
    }
    .topSection h2 {
        font-size: 35px;
    }
    .myteam .topSection {
        padding: 30px 20px;
    }
    .topSection p {
        font-size: 17px;
    }
}