.review {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #d7d7d7;
}

.reviewTop {
    margin: 60px 0px;

}

.reviewTop h2 {
        color: #21383E;
        font-size: 44.514px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 20px;
        text-align: center;
}

.reviewTop p {
    color: #21383E;
    text-align: center;
    font-size: 25.463px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
    max-width: 1000px;
    margin-top: 10px;

}

.privacy-cards {
    display: flex;
    padding: 0px 72px;
    column-gap: 65px;
    row-gap: 45px;
    padding-bottom: 29px;
    flex-wrap: wrap;
    justify-content: center;


}

.privacy-card {
    padding: 20px 22px 44px 22px;
    border-radius: 34.902px;
    background: #FFF;
    box-shadow: 0px 0px 36.29846px 0px rgba(0, 0, 0, 0.40);
    max-width: 389px;
}

.pcardTop {
    display: flex;
    align-items: center;
    column-gap: 13px;
    margin-bottom: 21px;
}

.pcardTop h3 {
    color: #21383E;
    text-align: center;
    font-size: 25.15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.pcardTop p {
    color: #21383E;
    text-align: center;
    font-size: 20.149px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* .privacy-card p {
    margin-top: 21px;
} */

/* review section  */

.reviewSect {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 40px;
    margin: 43px 0px;
    padding: 31px 70px;
    background: #F3F3F3;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.25);
    max-height: 500px;
    /* max-height: 300px; */
    overflow: auto;
    /* overflow: hidden; */

}




/* AutoScroll.css */

.reviewSectDivScroll{
    padding: 30px 0;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}


.reviewSectDivScroll {
    /* white-space: nowrap; */
  /* overflow: hidden; */
    animation: scrollAnimation 20s linear infinite;
    /* white-space: no; */
}

@keyframes scrollAnimation {
    from {
        transform: translateY(0%);
    }

    to {
        transform: translateY(-65%);
    }
}

.reviewSectDivScroll:hover {
    animation-play-state: paused;
} 
/* .container:last-child {
    transform: translateY(100%);
  } */





.reviewCard {
    display: flex;
    column-gap: 20px;
    align-items: center;
    border-radius: 0px 9px 9px 0px;
    border: 1px solid #626262;
    background: #E1E1E1;
    max-width: 1430px;
}


.sec1 {
    display: flex;
    flex-direction: column;
    justify-content: start;
    row-gap: 10px;
    padding: 8px 10px;
    border: 1px solid #626262;
    background: #FFF;
    box-shadow: 0px 0px 4px 0px #000;
    min-width: 200px !important;
    height: 140px;
    overflow: hidden;
    /* margin-top: -10px; */

}

.sec1Top {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 180px;
}

.sec1Mid {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    justify-content: space-between;
}

.sec1Bottom {
    display: flex;
    column-gap: 5px;
    flex-direction: column;
    gap: 5px;
}
.BottLeft,
.BottRight{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}


.sec1 h3 {
    color: #000;
    text-align: center;
    font-size: 11.989px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sec1 p {
    color: #00A12D;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.input .sect4Head{
    font-size: 16px;
}

.sec1 .secBlk{
    color: #000;
    font-size: 13px;
}

.sect2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: center;
    max-width: 92px;
}

.sect2 .sect2Id {
    color: #000;
    font-size: 15px;
    margin-top: 3px;
    white-space: nowrap;
    font-weight: 900;
}


.sect2 img {
    width: 47px;
    height: 47px;
    border-radius: 50%;
    display: none;
}

.sect2 p {
    color: #5E5E5E;
    text-align: center;
    font-size: 13px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 3px;
}

/* .sect3 {
    max-width: 660px;
    background-color: #00A12D;

} */

.sect3Top {
    border-radius: 11px;
    border: 1px solid #626262;
    background: #FFF;
    padding: 9.5px;
    width: 660px;
}

.sect3Top .input {
    display: flex;
    flex-direction: column;
    /* row-gap: 9px; */
    /* width: 560px; */
}

.input h3 {
    color: #060606;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 11px;
}

.input hr {
    background: #626262;
    margin: 6px 0px;
}

.input p {
    color: black;
    font-size: 13px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding-bottom: 12px;
}

.sect3Tags {
    display: flex;
    column-gap: 7px;
    margin-top: 7px;

}

.sect3Tags p {
    color: #000;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.sect3Tags button {
    border-radius: 4px;
    background: #BFBDBF;
    padding: 4px 10px;
    border: none;
    color: black;
    font-size: 10px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sect4Top {
    border-radius: 11px;
    border: 1px solid #626262;
    background: #FFF;
    padding: 10px 5px 0;
    max-width: 560px;
}

/* .sect4Top .input {
    width: 270px;
} */

.sect4Bott {
    /* background-color: #00A12D; */
    float: right;
    padding-right: 10px;
}

.sect4Bott p {
    color: #535353;
    font-size: 8.994px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* margin-top: 16px; */
    /* padding-top: 7px; */
}


@media (max-width: 1315px) {
    /* .sect3Top {
        max-width: 350px;
    } */

    .sect4Top .input {
        width: 150px;
    }


}

@media (max-width: 900px) {

    .reviewCard {
        flex-direction: column;
        row-gap: 20px;
        padding: 30px 20px 10px 20px;
        

    }
    .sec1 {
      
        margin-top: -10px;
    
    }

    .sect3 {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;

    }

    .sect3Top {
        width: 100%;
    }

    .sect3Tags {
        /* flex-direction: column; */
        align-items: center;
        flex-wrap: wrap;
        row-gap: 10px;
    }

    .reviewSect {
        padding: 50px 40px;
        width: 100%;
    }
    .reviewSectDivScroll{
        width: 70%;
    }
    .sect4Top .input{
        width: 100%;
    }
    .sect4Top{
        width: 100%;
        max-width: unset;
    }
    .sect4{
        width: 100%;
    }
}
@media (max-width: 767px){
    .reviewTop h2 {
        font-size: 35px;
    }
    .reviewTop p {
        font-size: 16.463px;
    }
    .privacy-cards {
        display: flex;
        padding: 0px 72px;
        column-gap: 50px;
        row-gap: 35px;
    }
}