.writing {
  background: #D7D8D8;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  /* padding-bottom: 50px; */
  /* max-width: 1480px; */
}

.paperBtn {
  display: flex;
  justify-content: center;
  margin: 30px 0px 10px 0px;


}

.paperBtn button {
  animation: borderPulse 1000ms infinite ease-out;
}


/* Declare border pulse animation */

@keyframes borderPulse {

0% {

  box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255,.4), 0px 0px 0px 0px rgb(42, 100, 46);

}

100% {

  box-shadow: inset 0px 0px 0px 3px rgba(117, 117, 255,.2), 0px 0px 0px 15px rgba(255,255,255,0);

}

}

.paperBtn button {
  border-radius: 14.908px;
  background: #194C3B;
  padding: 16px 31px;
  color: white;
  font-size: 19.65px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}
.paperBtn button:hover{
  transform: scale(1.1);
}
.wTop {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 49px;
}

.wTop h2 {
    color: #21383E;
    font-size: 44.514px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    text-align: center;
}

.wTop p {
  /* color: #21383E; */
  color: black;
  text-align: center;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  max-width: 823px;
}

.wPdf {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  width: 90%;
  /* padding: 0px 20px; */
  max-width: 1480px;
  border-radius: 18px;
  background: #FFF;

}

.leftText::-webkit-scrollbar {
  width: 10px;
  /* Adjust the width as needed */
}

.leftText::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the scrollbar thumb */
  border-radius: 6px;
  /* Adjust the border-radius as needed */
}

.leftText::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Color of the scrollbar track */
  border-radius: 6px;
  /* Adjust the border-radius as needed */
  margin-top: 30px;
}

.rightText::-webkit-scrollbar {
  width: 10px;
  /* Adjust the width as needed */
}

.rightText::-webkit-scrollbar-thumb {
  background-color: #888;
  /* Color of the scrollbar thumb */
  border-radius: 6px;
  /* Adjust the border-radius as needed */
}

.rightText::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  /* Color of the scrollbar track */
  border-radius: 6px;
  /* Adjust the border-radius as needed */
  margin-top: 30px;
}

.wPdf iframe {
  /* background-color: #194C3B; */
  background: none;
  border: none;

}

.leftText {
  display: flex;
  /* max-width: 1000px; */
  flex-direction: column;
  align-items: center;
  padding: 10px 34px ;
  margin: 24px;
  /* border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000; */
  background: rgba(255, 255, 255, 0.01);
  overflow-y: auto;
  height: 632px;
  /* background-color: red; */
}
.textData{
  display: flex;
  align-items: start;
  width: 100%;
  gap: 20px;
}

.rightText {
  display: flex;
  max-width: 549px;
  flex-direction: column;
  align-items: center;
  padding: 10px 34px ;
  margin: 24px;
  /* border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  border-top: 1px solid #000;
  border-left: 1px solid #000;
  border-right: 1px solid #000; */
  background: rgba(255, 255, 255, 0.01);
  overflow-y: auto;
  height: 632px;
  /* background-color: red; */
}

.leftText h3 {
  color: #000;
  text-align: start;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  padding-bottom: 30px ;
}


.leftText p {
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%;
  padding-bottom: 30px ;
}

.leftText h1 {
  color: #000;
  text-align: center;
  font-size: 30px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.textR,
.textL{
  width: 50%;
  margin-bottom: 20px;
  padding: 32px 30px;
  border-radius: 20px;
  border: 1px solid #C9D9EE;
}


.rightText p {
  color: #000;
  font-size: 22px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 30px ;

}

.notice {
  padding: 10px 20px;
  background: rgb(57 124 14 / 16%);
  margin-top: 50px;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap : 10px;

}

.notice h2 {
  color: #000;
  font-size: 23px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  /* padding-bottom: 10px; */
  /* max-width: 1480px; */
  /* animation: moveRightLeft 2s linear infinite; */


}

.notice p {
  /* padding-bottom: 10px; */
  color: #000;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* max-width: 1480px; */

}
/* @keyframes moveRightLeft {
  0%, 100% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(100px);
  }
} */




.disclimar {
  background: #464646;
  display: flex;
  /* width: 1440px; */
  padding: 24px 0px 24px 20px;
  align-items: center;
  gap: 7px;
  overflow-x: hidden;
  width: 100%;
}

.disclimar .h3 {
  color: #12D83F;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.disclimar p {
  color: #FFF;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  /* 
  animation-name: animateText;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  animation-direction: normal; */
  white-space: nowrap;
  /* overflow: hidden; */
  animation: slideText 30s linear infinite;
}

@keyframes slideText {
  from {
    transform: translateX(70%);
  }

  to {
    transform: translateX(-100%);
  }
}

.noticeContent{
  display: flex;
  gap: 5px;
  align-items: center;
  white-space: nowrap;
  overflow: hidden;
  animation: slideText 50s linear infinite;

}

/* @keyframes animateText {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
} */



@media (max-width: 1200px) {
  .wPdf {
    flex-wrap: wrap;
  }
}
@media (max-width: 991px) {
  .textData {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 20px;
}
.textR,
.textL{
  width: 100%;
  margin-bottom: 20px;
  padding: 32px 30px;
  border-radius: 20px;
  border: 1px solid #C9D9EE;
}
}
@media (max-width: 767px) {
  .wTop h2 {
    font-size: 35px;
    margin-bottom: 20px;
    text-align: center;
}


}
@media (max-width: 575px) {
  .textR, .textL {
    width: 100%;
    padding: 20px 10px;
}
.leftText {
  padding: 10px 10px;
  margin: 15px;
  margin: 10px;
}
.wTop p {
  font-size: 16px;
}
.leftText h3 {
  font-size: 20px;
  padding-bottom: 20px;
}
.leftText p {
  font-size: 14px;
  padding-bottom: 20px;
}
}