/* Header  */

*{
    box-sizing: border-box;
}
.header {
    padding: 140px 100px 20px;
    box-shadow: 0px 11.84375px 5.26389px 0px rgba(60, 52, 101, 0.47);
    background: linear-gradient(107deg, #DDE1E2 3.78%, #D7D7D7 99.61%);

}
.headerTop{
    max-width: 1440px;
    margin: auto;
}

.headerwrap{
    display: flex;
    align-items: center;
    justify-content: space-between;

    gap: 30px;
    margin: 20px 0;
}

.mainHeader {
    display: flex;
    align-items: center;
    /* flex-direction: column; */
    gap: 20px;
    flex-wrap: wrap;
}

.headerRightTop {
    margin-top: 30px;
}

.header .headerwrap .headerTop {
    padding-top: 24px;
    /* padding-left: 108px; */
    max-width: 1080px;
}

.headerTop h1 {
    color: #0E101A;
    font-size: 62px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    padding-bottom: 25px;
    width: 70%;

}


.headerTop p {
    color: #68797E;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}



.headerLeft img {
    width: 100%;
    max-width: 809.486px;
    max-height: 717.521px;
    height: 100%;
    /* margin-top: -130px; */
}

.headerBottom {
    margin-top: 20px;
    display: flex;
    column-gap: 53px;
    row-gap: 10px;
    align-items: end;
    justify-content: space-between;
}

.headerCard {
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    /* background-color: blue; */
    border-radius: 32.575px;
    background: #f2f9ff ;
    box-shadow: 0px 0px 9.30717px 0px #21383E;    
    position: relative;
    /* border: 1px solid #2D940A; */
    /* margin-bottom: 60px; */
    /* margin-right: 85px; */
    /* width: 100%; */
    /* max-width: 530px; */
    /* max-height: 500px; */
    /* margin-top: -80px; */
}

.headerCardContents {
    padding: 40px;
    /* display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center; */
    /* width: 90%; */

}

/* price blinkin  */
@keyframes blink {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: 0;
    }
}

.headerCardContents .blinking-price {
    /* animation: blink 2s infinite; */
}

.upper {
    padding-bottom: 10px;
    width: 65%;
}

.headerCardContents .upperInputs {
    border-radius: 4.654px;
    /* border: 1.163px solid #605454; */
    border: none;
    /* background: #F6F4F4; */
    background: linear-gradient(107deg, #DDE1E2 3.78%, #D7D7D7 99.61%);
    color: rgba(131, 125, 125, 0.80);
    font-size: 18.614px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-top: 7px;
    padding-left: 34px;
    height: 51.323px;
    padding-bottom: 10px;
    outline: none;
    width: 100%;
}

.headerInputs {
    margin-top: 20px;
    width: 100%;
}

.inputContents {
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.inputContents2 {
    display: flex;
    flex-direction: column;
    gap: 4px;
    padding-top: 20px;
}

.inputContents label {
    color: #01593A;

    font-size: 18.614px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.inputContents2 label {
    color: #01593A;
    font-size: 18.614px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.headerCard .headerCardTru {
    color: #21383E;
    /* text-align: center; */
    font-size: 28px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.headerCard p {
    color: #21383E;
    /* text-align: center; */
    font-size: 20.556px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin-top: 5px;
}

.Page-input {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 25px;
    justify-content: center;
    align-items: center;
    /* background: linear-gradient(107deg, #DDE1E2 3.78%, #D7D7D7 99.61%); */
}

.counter {
    display: flex;
    align-items: center;
    gap: 14px;
    justify-content: center;
}

.counter p:first-child {
    color: #21383E;
    text-align: center;
    text-shadow: 0px 4.972321510314941px 4.972321510314941px rgba(0, 0, 0, 0.25);
    font-size: 47.106px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    margin-top: -6px;
    user-select: none;
}

.counter p:last-child {
    color: #21383E;
    text-align: center;
    text-shadow: 0px 4.972321510314941px 4.972321510314941px rgba(0, 0, 0, 0.25);
    font-size: 44.106px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
    user-select: none;

}

/* .counter p {
    color: #21383E;
    text-align: center;
    text-shadow: 0px 4.972321510314941px 4.972321510314941px rgba(0, 0, 0, 0.25);
    font-size: 47.106px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    cursor: pointer;
} */

#counterInput {
    border-radius: 4.654px;
    /* border: 1.163px solid #605454; */
    border: none;
    /* background: #F6F4F4; */
    background: linear-gradient(107deg, #DDE1E2 3.78%, #D7D7D7 99.61%);
    color: rgba(131, 125, 125, 0.80);
    font-size: 18.614px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    height: 51.323px;
    outline: none;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.headerCardBott {
    padding: 15px 80px;
    /* border-radius: 0px 0px 32.575px 32.575px; */
    /* background: linear-gradient(177deg, #303A4F 2.72%, #21383E 69.5%, #10141F 139.12%); */
    box-shadow: 0px 0px 9.30717px 0px #21383E;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    gap: 22px;
    width: 100%;
    justify-content: space-between;
    border-radius: 15.006px;
    /* border: 1px solid #2D940A; */
    /* background: #FFF; */

}
.headerCardBott span{
    padding: 15px;
    font-size: 50px;
    font-weight: 800;
    text-align: center;
    color: #f73131;
    position: relative;
    /* text-decoration: line-through; */
}
.headerCardBott span::after{
    content: '';
    width: 80%;
    height: 4px;
    background-color: #000;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%);
}

.headerCardBott button {
    border-radius: 92.664px;
    background: rgb(51, 114, 11);
    font-size: 19px;
    outline: none;
    border: none;
    /* width: 155.233px; */
    /* height: 49.747px; */
    color: white;
    padding: 17px 45px;
    text-align: center;
    white-space: nowrap;

}

.headerCardBott button:hover {
    cursor: pointer;

}

#totalInput {
    /* width: 295px; */
    padding: 10px 50px;
    border-radius: 10.528px;
    /* border: 0.993px solid #605454; */
    /* background: #F6F4F4; */
    background:linear-gradient(107deg, #DDE1E2 3.78%, #D7D7D7 99.61%) ;
    color: #01593A;
    text-align: center;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    white-space: nowrap;
}

.headerBottom .headerRight {
    /* display: none; */
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    align-items: center;
    box-shadow: 0px 0px 9.30717px 0px #21383E;
    padding: 20px 40px;
    border-radius: 30px;
}
.headerContent{
    display: flex;
    justify-content: start;
    gap: 30px;
    margin-top: 30px;
}

/* services section css  */



.headerRight p {
    /* color: #21383E; */
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}


.rightContents {
    margin-top: 10px;
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: #F2F9FF;
    border-radius: 20px;
    cursor: pointer;
    transition: 0.3s ease-in-out all;
    display: flex;
    color: #1176CA;
    padding: 15px;
    align-items: center;
    column-gap: 10px;
    cursor: pointer;
}
.rightContents:hover{
    transform: translateY(-7px);
}

 
.bottomHead{
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightContents .noAdd {
    margin-left: -4px;
}

.rightBTN {
    border-radius: 49.489px;
    /* background: #305F63; */
    background: rgb(51, 114, 11);
    padding: 25px 80px;
    color: #FFF;
    font-size: 22.854px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border: none;
    align-items: center;
    margin: 30px 0px;
    transition: transition 0.3s ease-in-out;
}

.rightBTN:hover {
    transform: scale(1.1);
}

.priceOff{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #01593A;
    border-radius: 50%;
    position: absolute;
    width: 120px;
    height: 120px;
    top: -7%;
    right: -4%;
    color: #FFF;
    font-size: 25px;
    font-weight: 700;
    animation: blink 4s infinite;
}


.RightContentBottom p {
    /* color: #68797E; */
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    /* max-width: 660px; */
    width: 100%;
    white-space: nowrap;
    animation: headText 50s linear infinite;
}
.RightContentBottom{
    display: flex;
    /* flex-direction: column; */
    align-items: center;
    /* box-shadow: 0px 0px 9.30717px 0px #21383E; */
    /* padding: 20px 40px; */
    border-radius: 12px;
    /* width: 50%; */
    /* margin: auto; */
    /* margin-bottom: 20px; */
    display: flex;
    gap: 5px;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    background:#b3cde3; 
    /* background: #FFF; */
    padding: 15px 10px;

    

}
.RightSlideContent{
    /* overflow: hidden; */
    
    display: flex;
    gap: 300px;
    align-items: center;
}
@keyframes headText {
    from {
      transform: translateX(70%);
    }
  
    to {
      transform: translateX(-100%);
    }
  }



button.pulse-button {
    animation: borderPulse 1000ms infinite ease-out;
}


/* Declare border pulse animation */

@keyframes borderPulse {

    0% {

        box-shadow: inset 0px 0px 0px 5px rgba(255, 255, 255, .4), 0px 0px 0px 0px rgb(42, 100, 46);

    }

    100% {

        box-shadow: inset 0px 0px 0px 3px rgba(117, 117, 255, .2), 0px 0px 0px 15px rgba(255, 255, 255, 0);

    }

}
@media (max-width: 1500px){
    .upper {
        padding-bottom: 10px;
        width: 100%;
    }
    .headerRight p {
        font-size: 20.829px;
    }
    .RightContentBottom p {
        width: 100%;
    }
}

@media (max-width: 1400px){
    .RightContentBottom p {
        width: 100%;
    }
}
@media (max-width: 1299px){
    .rightBTN {
        padding: 15px 40px;
        font-size: 20px;
        margin-top: 50px;
    }
    .headerCard {
        margin-right: 0px;
    }
}


@media (max-width: 1120px) {
    
    
    .headerTop h1 {
        width: 90%;
    }
    .headerBottom {
        flex-direction: column;
        /* row-gap: 30px; */
        /* background-color: red; */
        align-items: center;
    }
    .header{
        flex-direction: column;
    }
    .headerwrap {
        flex-direction: column;
        align-items: center;
    }

    .headerCard {
        margin-top: 0px;
        margin-right: 0;
    }

    .headerRight {
        row-gap: 10px;
    }

    .headerLeft img {
        display: none;
    }

    .header .headerTop {
        padding-top: 20px;
        padding-left: 0px;
        /* max-width: 1080px; */
    }

    .header {
        padding: 115px 25px 20px;
    }
    .RightContentBottom {
        width: 80%;
        
    }
    .RightContentBottom p {
        width: 100%;
    }
    .headerTop h1 {
        font-size: 52px;
    }
}

@media (max-width: 550px) {
    .headerCardContents {
        padding: 29px;
        /* width: 75%; */

    }
    .mainHeader{
        flex-direction: column;
    }
    #totalInput {
        font-size: 30px;}
    .topnavBar {
        padding: 0px 20px;
    }

    #totalBtn {
        min-width: 110px;
        /* min-height: 110; */
    }

    .RightContentBottom p {
        width: 100%;
        font-size: 13px;
    }

    .headerContent{
        flex-direction: column;
    }

    

    /* .headerCard {
        width: 400px;

    } */

    /* .headerCardBott {
        width: 400px;

    } */
    .headerTop h1 {
        font-size: 45px;
    }
    .RightContentBottom {
        width: 100%;
        
    }
    .headerCardBott{
        width: 100%;
        padding: 15px 40px;
        justify-content: space-between;

    }
    .headerCard {
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 100%;
    }
    .header {
        padding: 115px 20px 20px;
    }
    .disclimar p {
        font-size: 15px;
    }
    .disclimar {
        padding: 10px 0px 10px 20px;
    }
    .footer {
        gap: 20px;
    }
    .fRight {
        padding-top: 15px;
    }
    .footerBottomPay p {
        font-size: 20px;
    }
}

@media (max-width: 470px) {
    .footer {
        gap: 10px;
    }

    .headerCardBott button {
        display: flex;
        align-items: center;
        justify-content: center;
        /* width: 20px; */
        padding: 10px 15px;
        border-radius: 10.528px;
    }

}