.faqs {
    display: flex;
    background: #D7D8D8;
    padding: 60px 45px;
    align-items: center;
    flex-direction: column;
    width: 100%;

}

.faqTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.faqTop h2 {
    color: #21383E;
    font-size: 44.514px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    text-align: center;
}

.faqTop p {
    /* color: #68797E; */
    color: black;
    text-align: center;
    font-size: 22.295px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    min-width: 70%;
}

.faqBottom {
    margin-top: 31px;
    display: flex;
    column-gap: 50px;
    align-items: start;
    justify-content: center;
    width: 80%;
    /* max-height: 800px; */
    

}
.faqLeft{
    width: 100%;
}

.faqLeft h3 {
    color: #21383E;
    text-align: center;
    font-size: 35px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 6px;
    
}

.faqLeft hr {
    max-width: 431px;
}

.insured {
    margin-top: 20px;
}

.insured p {
    color: #465256;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-left: 25px;
}

.insurTop {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.arrIcon {
    font-size: 30px;
}

.insurTop h2 {
    color: #1F362E;
    font-size: 25.364px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.faq-item:last-child{
    margin: 0;
}


/* FAQ.css */

.faq-container {
    width: 100%;
    margin-top: 32px;
    /* margin-left: 28px; */
}


.faq-item {
    border: 1px solid #ddd;
    margin-bottom: 30px;
    cursor: pointer;

}

.faq-q-right  {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.faq-question  {
    color: #01593A;
    font-size: 23px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.40);
    padding: 25px 20px;
    border-radius: 12.341px;
    display: flex;
    column-gap: 15px;
    justify-content: space-between;
    align-items: center;
}

.faq-answer {
    color: #465256;
    font-size: 23px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 20px 5px;
    display: block;
    padding-left: 43px;
    /* box-shadow: 0px 0px 26px 0px rgba(0, 0, 0, 0.40); */
    border-radius: 12.341px;
  

}
.faq-quetion h4{
    font-size: 23px;
}
.faq-q-right h4{
    font-size: 23px;
}
@media (max-width:1499px){
    .faqBottom {
        width: 95%;
    }
}
@media (max-width: 1299px){
    .faq-quetion h4,
    .faq-q-right h4 {
        font-size: 20px;
    }
    .faqBottom {
        width: 100%;
    }
}
@media (max-width: 1099px){
    .faq-quetion h4,
    .faq-q-right h4 {
        font-size: 18px;
    }
    .faqBottom {
        width: 100%;
    }
}


@media (max-width: 1000px) {
    .faqBottom {
        flex-wrap: wrap;
        justify-content: center;
        /* margin-bottom: 800px; */
        width: 100%;
    }
    .faq-quetion h4,
    .faq-q-right h4 {
        font-size: 23px;
    }
    .faqTop {
        width: 90%;
    }
   
}
@media (max-width: 767px) {
    .faqs {
        padding: 20px;
    }
    .faq-quetion h4,
    .faq-q-right h4 {
        font-size: 20px;
    }
    .faq-answer {
        font-size: 18px;
        padding: 10px 5px;
        max-width: 70%;
    }
    .faqLeft h3 {
        font-size: 26px;
    }
    
    .faqTop h2 {
        font-size: 35px;
    }
    .faqTop p{
        width: 90%;
    }
    .faqTop {
        width: 100%;
    }
   
}
@media (max-width: 500px) {
    .faq-quetion h4, 
    .faq-q-right h4 {
        font-size: 15px;
    }
    .faq-answer {
        color: #465256;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        padding: 10px 5px;
        display: block;
        margin-left: 43px;
        max-width: 80%;
    }
    .faqs {
        padding: 20px;
    }
    .faq-item {
        margin-bottom: 20px;
    }
    .faqTop p {
        font-size: 17.295px;
    }
   
}