.footer {
    background: #232323;
    display: flex;
    justify-content: center;
    gap: 60px;
    align-items: start;
    

}

.fLeft {
    padding: 38px 0px 0px 0px;
    display: flex;
    flex-direction: column;

}

.fLeft .Btns {
    display: flex;
    flex-direction: column;
    padding-top: 17px;
}

.fLeft h4 {
    color: #FFF;
    font-size: 29.734px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.fLeft p {
    padding-top: 11px;
    color: #fff;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    max-width: 465px;
}

.Btns label {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.Btns input {
    padding: 15px 147px 15px 17px;
    margin-top: 9px;
}

.Btns .subBtn {
    margin: 13px 0px;
    background: rgba(217, 217, 217, 0.01);
    color: white;
    padding: 14px 120px;
}

.Btns .icons {
    text-align: center;

}

.fRight {
    display: flex;
    padding-top: 38px;
    flex-direction: column;
}

.vertical-line1 {
    background-color: #747171;
    width: 1px;
    height: 326px;
    margin-right: 33px;
    margin-top: 38px;
}

.fRight .vertical-line2 {
    background-color: white;
    width: 1px;
    /* height: 153px; */
    /* margin: 0 33px; */
}

.footer-social-icons {
    display: flex;
    justify-content: center;
    column-gap: 25px;
}

.footer-social-icon {
    color: white;
    font-size: 35px;
}
.footer-social-icon:hover {
   cursor: pointer;
}

.rSection p {
    color: #FFF;
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}


.rSection ul li {
    list-style: none;
    margin-top: 20px;
}

.rSection ul {
    margin-top: 10px;
}

.rSection ul li a {
    text-decoration: none;
    color: #AEAEAE;
    font-size: 17px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-top: 7px;
}

.RContents {
    display: flex;
    /* margin-right: 10px;
    margin-left: 10px; */
    gap: 50px;
}


.rSection {
    margin-right: 10px;
}

.rDropdown {
    display: flex;
    flex-wrap: wrap;
    height: fit-content;
    row-gap: 12px;
    column-gap: 12px;
    margin-left: 56px;
    flex-direction: column;
}

.rdropdown2 {

    height: fit-content;
}

.rdropdown2 button {
    display: flex;
    column-gap: 13px;
    align-items: center;
    border-radius: 12.045px;
    background: #FFF;
    color: black;
    padding: 13.766px 30px;
    font-size: 18px;
    font-weight: 600;
    border: none;
    cursor: pointer;
}

.arrowIcon {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: green;
    border-radius: 50%;
}

.Rdropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 200px;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
    z-index: 1;
    border-radius: 10px;
    margin-top: 6px;
}

.Rdropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.Rdropdown-content a:hover {
    background-color: #f1f1f1;
}

.rdropdown2:hover .Rdropdown-content {
    display: block;
}

.BottomLogo {
    text-align: center;
    padding-top: 38px;
    background: #232323;

}

.BottomLogo hr {
    color:#232323;
    width: 383px;
    height: 1px;
    margin-top: -2px;
    /* margin-top: 23px;
    margin-bottom: 20px; */
}

.footerBottomPay {
    background: #232323;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: space-between;
    align-items: center;
    margin-top: -2px;
    padding: 40px 20px 30px;

}

.footerBottomPay p {
    color: #FFF;
    font-size: 22px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.payIcons {
    border-radius: 8px;
    background: #D9D9D9;
    /* width: 325.5px; */
    height: 53.769px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 20px;
    padding: 0 10px;
}

.footer2 {
    background: #232323;
    /* margin-top: -2px; */
    border-top: 1px solid #FFF;
    padding: 31px 100px;
    display: flex;
    align-items: center ;
    justify-content: space-between;


}

.footer2 ul p {
    color: #FFF;
    font-size: 19px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.footer2 ul {
    list-style: none;
    display: flex;
    column-gap: 39px;
}


.footer2 ul li a {
    text-decoration: none;
    color: #AEAEAE;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.footer2 ul li:hover{
    text-decoration: underline;
    text-underline-offset: 10px;
    text-decoration-color: yellow;
}

.copy-wright p{
    color: white;
    text-align: center;
}


@media (max-width: 1000px) {
    .footer {
        flex-direction: column;
        padding: 0px 20px;
        align-items: center;
    }
    .footer2 {
       flex-direction: column;
       justify-content: center;
       align-items: center;
       row-gap: 20px;
    
    
    }
    .BottomLogo hr {
        /* width: 383px; */
    }

    .vertical-line1 {
        display: none;
    }
}

@media (max-width: 1000px) {
    .footer2 ul {
        justify-content: center;
        align-items: center;
        row-gap: 20px;
        flex-direction: column;
    }
    .footer {
        background: #232323;
        display: flex;
        justify-content: center;
        /* gap: 20px; */
        align-items: start;
    }
}

@media (max-width: 485px) {
    .fLeft {
        padding: 0px;
    }
    .RContents{
        margin: 0;
    }

    .footer {
        gap: 20px;
    }

    .RContents {
        flex-wrap: wrap;
        row-gap: 20px;
    }

    .BottomLogo {
        /* margin-top: 30px; */
    }

    .RContents {
        margin-right: 10px;
        margin-left: 10px;
    }
    .RContents{
        flex-direction: column;
        align-items: start;
        width: 100%;
    }
    .footer{
        align-items: start;
    }
    .fRight{
        width: 100%;
    }
    .rDropdown{
        margin: auto;
    }
    .fRight .vertical-line2{
        display: none;
    }
    .footer2 {
        padding: 31px 20px;
    }
}