.singleBlog-Container {
    /* margin-top: 100px; */
    /* background-color: rgb(130, 230, 230); */
    width: 100%;
    display: flex;
    justify-content: center;
}
.single-blog-contents{
    max-width: 1620px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    padding-top: 100px;
    padding: 100px 20px;
    column-gap: 20px;

}

 /* side bar css  */
 
.Single-blogSidebar {
    display: flex;
    column-gap: 12px;
    padding-top: 108px;
    
}

.Single-blogSidebar h3 {
    color: #000;
    font-size: 16.005px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 23px;
}

.Single-blogSidebar ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    row-gap: 23px;
    
}
.Single-blogSidebar ul li:hover{
   cursor: pointer;
    
}
.single-all-posts-left hr{
    margin-top: -7px;
    margin-bottom: 15px;
}

/* .blog-sidebar-vertical-line {
    width: 1px;
    height: 329px;
    opacity: 0.4;
    background: #006FDD;
} */
.single-all-posts-left{
    width: 316px;

}
.single-all-posts-left p{
    color: #474747;
font-size: 12.548px;
font-style: normal;
font-weight: 400;
line-height: normal;
margin-top: -25px;
margin-bottom: 10px;
}
.sidebarBottomSect{
    margin-top: 70px;
    
}

/* side bar css end  */


.singlBlogSection {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.singleBlogTop {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 6px;
}

.singleBlogTop h3 {
    color: #006FDD;
    font-size: 28.963px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    max-width: 722px;
    text-align: center;
}

.singleBlogTop p {
    color: #4F4F4F;
    font-size: 13.786px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    max-width: 570px;
}

.singleBlogTop h2 {
    color: #006FDD;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.singleBlogImg {
    max-width: 766px;
    max-height: 441.078px;
    border-radius: 14.055px;
    /* box-shadow: 0px 0px 12.52422px 0px rgba(0, 0, 0, 0.19); */
}


.singleBlogBottom {
    margin-top: 51px;
    padding: 0px 29px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.single-blog-keywords {
    display: flex;
    justify-content: space-between;
    column-gap: 362px;
    /* max-width: 800px; */
    /* max-width: 897px; */
    /* flex-direction: column;
    row-gap: 10px; */
}

.keywords {
    display: flex;
    column-gap: 8px;
}

.single-blog-keywords h3 {
    color: #000;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

/* .single-blog-keywords hr {
    margin: 13px 0px;
} */

.single-blog-keywords p {
    color: #01593A;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding: 1px 6px;
    border-radius: 5px;
    background: #D9D9D9;
}


.wordCount p {
    color: #313131;
    font-size: 18.013px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.singleBlogBottom hr {
    margin: 13px 0;
    max-width: 897px;

}


.blogDetails {
    display: flex;
    align-items: center;
    column-gap: 15px;
    max-width: 450px;
    text-align: center;
}

.published {
    display: flex;
    align-items: center;
    column-gap: 3px;
    align-items: center;
}

.published h3 {
    color: #313131;
    font-size: 12.013px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.published p {
    color: #777;
    font-size: 12.013px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.updated {
    display: flex;
    align-items: center;
    column-gap: 3px;
}

.updated h3 {
    color: #313131;
    font-size: 12.013px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.updated p {
    color: #777;
    font-size: 12.013px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.blogTime {
    display: flex;
    align-items: center;
    column-gap: 3px;
}

.blogTime p {
    color: #313131;
    font-family: Inter;
    font-size: 12.013px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.singleBlogBottom .blogDetailHr {
    max-width: 524px;
    height: 1px;
}

.profileTop {
    display: flex;
    align-items: center;
    column-gap: 8px;
}

.profileTop h3 {
    color: #050505;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.profileTop h2 {
    color: #006FDD;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.profileDesc{
    max-width: 793px;
}
.profileDesc h2 {
    color: #4F4F4F;
    text-align: center;
    font-size: 18.499px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 6px 0px 29px 0px;
}

.profileDesc p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.blogContents{
    max-width: 793px;
}

.blogContents h3 {
    color: #000;
font-size: 27.34px;
font-style: normal;
font-weight: 400;
line-height: normal;
    margin-top: 30px;
}

.blogContents p {
    color: #000;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 19px 0px;
}

@media(max-width: 850px){
    .Single-blogSidebar {
       max-width: 160px;
        
    }
}
@media(max-width: 750px){
    .single-blog-contents{
       flex-direction: column;
    
    }
    .Single-blogSidebar {
        max-width: 800px;
        /* background-color: #777; */
         padding: 0px;
     }
    .side-bar-container{
        background-color: #92a6b9;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: -50px;
        margin-bottom: 30px;
    }
    .single-all-posts-left {
        /* background-color: red; */
        width: 300px;
    }
    
    .single-all-posts-left ul{
        /* flex-direction: row; */
        column-gap: 40px;
        /* width: 100%; */
        /* background-color: #07539b; */
    }

}

@media(max-width: 622px){
    .single-blog-keywords {
        column-gap: 162px;
      
    }
}
@media(max-width: 473px){
    .single-blog-keywords {
        column-gap: 50px;
      
    }
    .single-blog-keywords {
        flex-direction: column;
        row-gap: 10px; 
    }
    .wordCount p{
        max-width: 175px;
    }
}