
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; 
}
a{
    text-decoration: none;
}
body{
    font-family: 'Inter', sans-serif;
}


.container{
    max-width: 1440px;
    margin: auto;

}
/* banner css  */
.banner{
    display: flex;
    gap: 30px;
    padding: 38px 0;
    border-bottom: 1.6px solid #000;
}

.col-5{
    width: 40%;
}
.col-7{
    width: 60%;
}
.hero-left h2{
    color: #000;
    text-align: start;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.mr-black{
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 8px;
    margin: 40px 0 16.86px 0;
}
.black-written{
    color: #050505;
    font-family: Inter;
    font-size: 14.499px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.me-blacky{
    color: #00A12D;
    font-family: Inter;
    font-size: 16.11px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}
.hero-left h3{
    color: #000;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: 50px;
    margin-bottom: 26px;
}
.hero-left p{
    color: #4F4F4F;
    font-family: Inter;
    font-size: 13.786px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
.left-banner-img{
    width: 100%;
}

.tag-box{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 8px;
    margin-top: 19px;
}
.tag-box h4{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
.tag-btn{
    text-decoration: none;
    color: #01593A;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    border-radius: 5px;
    background: #D9D9D9;
    padding: 0 6px;
}

.lab-report{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0 10px 0;
    border-bottom: 1.6px solid #4F4F4F;
}
.report-box{
    display: flex;
    align-items: center;
    justify-content: start;
}
.report-box img{
    margin-right: 4px;
}

.report-box h6{
    color: #313131;
    font-family: Inter;
    font-size: 12.013px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

/* ARTICLE CSS  */
.article-left{
    position: sticky;
    position: -webkit-sticky;
    z-index: 0;
    top: 20px;
  }


.article-wrap{
    display: flex;
    padding: 28px 0;
    gap: 30px;
    z-index: 9999;
}

.article-list{
    padding-left: 27px;
    margin-bottom: 20px;
}
.article-list li{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 225.023%;
}
.article-img{
    margin-bottom: 23px;
    width: 100%;
}
.article-inner{
    padding-left: 7px;
}

.article-media h4{
    color: #777;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 225.023%;
    margin-bottom: 10px;
}
.article-media{
    width: 90%;
    /* margin: auto; */
    text-align: center;
    margin-bottom: 36px;
    padding-bottom: 20px;
}
.icons{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.social-icons{
    width: 50px;
    height: 50px;
    border: 1px solid #DADFEB;
    display: flex;
    align-items:center ;
    justify-content: center;
    border-radius: 50%;
}
.people-read{
    width: 90%;
    border: 1px solid #DADFEB;
    padding: 20px;
    border-radius: 10px;
    /* margin: auto; */
    margin-top: 36px;
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}
.people-read h4{
    color: #777;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 225.023%;
    border-bottom: 1px solid #DADFEB;
    margin-bottom: 20px;
}
.read-box{
    position: relative;
    margin-bottom: 20px;
}
.read-box span{
    color: #777;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 30px;
    display: block;
    padding-left: 30px;
    width: 72%;
}
.readbox-img{
    position: absolute;
    left: 0;
    top: 8%;
}
.struggling-box h3{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
    margin: auto;
    width: 80%;
    margin-bottom: 10px;
}
.struggling-box h4{
    color: #000;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 10px;
}

.struggling-box{
    /* max-width: 428px; */
    width: 90%;
    /* margin: auto; */
    padding: 20px;
    border: 2px solid #FD8D05;
    border-radius: 12px;
    /* background: url(<path-to-image>), lightgray 50% / cover no-repeat; */
}
.strug-btn{
    text-decoration: none;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    background-color: #FD8D05;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80%;
    margin: auto;
    padding: 15px 0;
    border: 1px solid #FD8D05;
    border-radius: 5px;
    transition: 0.3s ease-in-out all;
}
.strug-btn:hover{
    background: #fff;
    color: #FD8D05;

}

.arthor-bio{
    border-radius: 5px;
    border: 1px solid #DADFEB;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 12px 4px 12px 27px;
    margin-top: 60px;
}
.arthor-bio h4{
    color: #000;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    font-family: Inter;
    font-size: 24px;
    font-style: italic;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 15px;
}
.arthor-bio p{
    color: #000;
    font-family: Inter;
    font-size: 15px;
    font-style: italic;
    font-weight: 400;
    line-height: 25px;
}
.struggle-img{
    width: 100%;
}
.article-inner h2{
    color: #0e101a !important;
    margin-top: 36px;
    margin-bottom: 24px;
    font-size: 36px;
    font-weight: 700;
    line-height: 120%;
    padding: 0 !important;

}

.article-inner p{
    color: #000 !important;
    margin-bottom: 24px;
    font-size: 18px;
    line-height: 150%;
    padding: 0 !important;
}
.article-inner p a{
    color: #367fd3;
}
.article-inner ul li,
.article-inner ol li{
    color: #000;
    font-size: 18px;
    margin-bottom: 10px;
    line-height: 150%;
}
.article-inner ul,
.article-inner ol{
    padding-left: 20px;
}







/* media qury  */

@media (max-width:1340px){
    .mr-black {
        margin: 50px 0 16.86px 0;
    }
    .hero-left h3 {
        font-size: 28px;
        line-height: 45px;
        margin-bottom: 15px;
    }
    .hero-left p {
        font-size: 12px;
        line-height: 20px;
    }
    .tag-box {
        margin-top: 15px;
    }
    .struggling-box {
        width: 90%;
        margin: auto;
        padding: 20px;
        border: 2px solid #FD8D05; 
        border-radius: 12px;
    }
    .struggling-box h4 {
        font-size: 16px;
    }
    .struggling-box h3 {
        font-size: 18px;
        width: 84%;
    }
    .read-box span {
        font-size: 16px;
        padding-left: 20px;
        width: 100%;
    }
    .people-read {
        width: 100%;
    }
    .readbox-img {
        position: absolute;
        left: 0;
        top: 13%;
    }
    
}



@media (max-width:1199px){
    .hero-left h3 {
        font-size: 24px;
        line-height: 38px;
        margin-bottom: 15px;
    }
    .mr-black {
        margin: 35px 0 16.86px 0;
    }
    .hero-left p {
        font-size: 11.786px;
        line-height: 20px;
    }
    .report-box h6 {
        font-size: 9px;
}
}
@media (max-width:1050px){

    .hero-left h2 {
        font-size: 20px;
    }
    .hero-left h3 {
        font-size: 20px;
        line-height: 32px;
        margin-bottom: 10px;
    }
    .mr-black {
        margin: 25px 0 16px 0;
    }
    .tag-btn {
        font-size: 12px;
    }
    .article-media {
        width: 90%;
        margin: auto;
        text-align: center;
        margin-bottom: 25px;
        
    }
    .struggling-box {
        width: 100%;
        padding: 15px;
    }
    .strug-btn {
        padding: 11px 0;
    }
    .people-read {
        width: 100%;
        padding: 15px;
        margin: auto;
        margin-top: 25px;
    }
}
@media (max-width:991px){
    .container {
        margin: 0 50px;
    }
    .banner,
    .article-wrap{
        display: block;
    }
    .col-5 {
        width: 100%;
    }
    .col-7 {
        width: 100%;
    }
    .article-right {
        margin-top: 20px;
    }
    .struggling-box {
        width: 70%;
    }
    .tag-box {
        margin-bottom: 15px;
    }
    .article-inner{
        padding-left: 0px;
    }


}
@media (max-width:768px){
    .container {
        margin: 0 40px;
    }
    .black-written {
        font-size: 10px;
    }
    .me-blacky {
        font-size: 10px;
    }
    .blacky-img {
        width: 30px;
    }
    .arthor-bio {
        padding: 10px 4px 10px 20px;
        margin-top: 30px;
    }
    .arthor-bio h4 {
        font-size: 20px;
        margin-bottom: 10px;
    }
    .arthor-bio p {
        font-size: 12px;
        line-height: 18px;
    }

    .article-list li {
        font-size: 13px;
        line-height: 170.023%;
    }
    .hero-left h2 {
        font-size: 14px;
    }

}
@media (max-width:575px){
    .container {
        margin: 0 20px;
    }
    .struggling-box {
        width: 90%;
        padding: 15px;
    }
    .report-box h6 {
        font-size: 7px;
    }


}
