* {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.midContainer{
    width: 100%;
    background: #D7D8D8;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.midSect {
    padding: 60px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow-x: hidden;
    max-width: 1480px;
    


}

.MidtopContents {
    /* width: 100%; */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding-bottom: 36px;
    padding-left: 10%;
    padding-right: 10%;
    max-width: 1480px;

}

.MidtopContents h2 {
    color: #21383E;
    font-size: 44.514px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 20px;
    text-align: center;
}

.MidtopContents p {
    /* color: #21383E; */
    color: black;
    text-align: center;
    font-family: Inter;
    font-size: 22px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.Midmain {
    max-width: 1480px;
    margin: 0px auto;
    border-radius: 23.653px 23.653px 20px 20px;
    background: #FFF;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.25);
    position: relative;
}

.MidnavContents {
    margin: 21px 18px;
    display: flex;
    margin-bottom: 20px;
}

.MidsideContents {
    margin-left: 13px;
    margin-right: 13px;
    display: flex;
    justify-content: center;
}

.midNav {
    display: flex;
    border-radius: 23.653px 23.653px 0px 0px;
    background: #1A4D3B;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    max-width: 1480px;

}

.midNav ul {
    max-width: 1480px;
    list-style-type: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 33px 0px;
    
    
    /* overflow: hidden; */
}
.midNav ul li{
    margin: 0px 70px;

}

.midNav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.midNav ul li a:hover {
    /*background-color: #ddd; */
    text-decoration: underline;
    text-decoration-color: #FAFF00;
    text-underline-offset: 7px;

}

.icon-burger {
    font-size: 30px;
    display: none;
}

.midNav.visibleMidNav {
    display: block;
}

.hidden {
    display: none;
}


/* sidbar  */
.sidebar {
    background: #484949;
    box-shadow: 0px 0px 7.89583px 0px #000;
    width: fit-content;
}

.sidebar ul {
    display: flex;
    flex-direction: column;
}

.sidebar ul li {
    color: white;
    padding: 25px 28px;
    border: 1px solid black;
    font-size: 23.688px;
    font-weight: 500;
    list-style: none;

}

.sidebar ul li:hover {
    background-color: rgb(147, 143, 143);
    color: black;
    cursor: pointer;


}

.active {
    text-decoration: underline;
    text-decoration-color: #FAFF00;
    text-underline-offset: 7px;
}
.midNavWrap{
    border-radius: 23.653px 23.653px 0px 0px;
    background: #1A4D3B;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.25);
    max-width: 1480px;
}

@media (max-width: 1100px) {
    .sidebar {
        border: none;
        box-shadow: none;
    }
    .MidnavContents{
        flex-direction: column;
    }

    .sidebar ul {
        flex-direction: row;
        flex-wrap: wrap;
        background-color: white;
    }

    .sidebar ul li {
        background: #484949;

    }

    /* .midNav {
        display: none;
    } */

}



@media (max-width: 1100px) {
    .navContents {
        flex-direction: column;

    }
}
@media(max-width: 991px){
    .midNav ul li{
        margin: 0px 40px;
    
    }
}
@media (max-width: 767px){
    .midNav ul li{
        margin: 0px 30px;
    
    }
    .MidtopContents h2 {
        font-size: 35px;
    }
    .MidtopContents p {
        font-size: 17px;
    }
}

@media (max-width: 600px) {
    .icon-burger {
        padding: 15px 0;
         display: block;
         color: #fff; 
    }

    /* .midNav {
        display: none;
    } */

    .midNav.visibleMidNav {
        position: absolute;
        display: flex;
        justify-content: center;
        width: 100%;
        display: none;
        border-radius: none;
        box-shadow: none;

    }
    .midNav{
        box-shadow: none;
    }

    .midNav ul {
        list-style-type: none;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
        justify-content: space-evenly;
        align-items: center;
    }
    .midNavWrap{
        padding: 10px 20px;
    }


}